/*------Cabeçalho------*/
.cabecalhoPrincipal .container{
    display:flex;
    align-items: center;
    justify-content: space-between;   
    
}

.cabecalhoPrincipal-nav a{
    display:inline-block;

}
/*-----Main-----*/
.conteudoPrincipal-cursos{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}
.conteudoPrincipal-cursos-link{
    width:23%;
}
.conteudoPrincipal-cursos-link:nth-child(4n){
    margin-right: 0;
}
.conteudoPrincipal-cursos-link:nth-child(4n +1){
    margin-left: 0;
}

/*------Footer------*/
.rodapePrincipal-patrocinadores .container{
    display:flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list{
    display:flex;
    align-items:center;
    justify-content: space-around;
    width:70%;
    margin-right: 5%;
}
.rodapePrincipal-contatoForm{
    width:25%;
}
.rodapePrincipal-contatoForm-fieldset{
    display:flex;
}
/*------Mapa de Cursos------*/
.rodapePrincipal-navMap-list{
    display: flex;
	/*flex-direction: column;
	flex-wrap: wrap;*/
	flex-flow: column wrap;
	height: 250px;
    
}

/*------Mobile------*/
.cabecalhoPrincipal-nav a{
    display:flex;
    flex-direction: column;
    text-align: center;

}
.cabecalhoPrincipal .container {
    flex-direction: column;
    align-items:initial;
}


